<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="ToastTarget" sequenceNumber="1">
<locations>
<location path="${git_dir}/../codePractice/OSGiEquinox/MyToastTarget/delta.pack/eclipse" type="Directory"/>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.1.R37x_v20110907-7M7W8i8eNV4WsRkue-4Vq4J6pCyW"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
